body {
    // margin: 0;
    // padding: 0;
    background: black;
    color: white;
  }
  
  nav {
    
    z-index: 9999;
    width: 100%;
    height: 35px;
  }
  

  nav a {
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    font-family: Ubuntu;
    font-size: 1.15em;
    font-weight: lighter;
    letter-spacing: 1px;
    transition: .25s ease-in-out;
  }
  
  nav a:hover {
    color: rgb(220, 120, 0);
  }
  
  .nav-bg {
    
    
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    
    background: rgb(50, 50, 50);
    transition: .45s ease-in-out;
  }
  .header-inner{
    font-size: 1.5rem;
    text-align: center;
  }
  input {
   padding: 10px;
   margin: 10px;
   width: 300px;
  }
  .hero {
    position: relative;
    color:#DC6711;
    width: 100%;
    height: 500px;
    background: rgb(50, 50, 50);
    background: url(https://i.imgur.com/mvlUmLH.jpg) no-repeat 50% 50% fixed;
    background-size: 130%;
    overflow: hidden;
  }
  
  .hero p {
    position: absolute;
    top: 2%;
    left: 0;
    text-align: center;
    width: 100%;
    padding: .3em;
    font-size: 3em;
    font-weight: lighter;
  }
  
